---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const posts = await getCollection('writings');
const tags = [...new Set(posts.map((post) => post.data.tags).flat())];

---
<Layout title="Tags">
    <div class="tags">
        {tags.map((tag) => (
          <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
        ))}
      </div>
</Layout>