---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <body>
        <h1>About</h1>
        <h2>Subheading goes here</h2>

        <p>Some text here</p>

        <p>Some other text here</p>
    </body>
</Layout>