---
import Layout from '../layouts/Layout.astro';
---

<style>
	main {
		background-image: url("/awakening1.jpeg"); /* Your image path */
		background-size: cover;                  /* Scale the image to cover the entire element */
		background-position: center 70px;             /* Center the image within the element */
		background-attachment: fixed;  			/* Keep the image fixed as the page scrolls*/ 
		height: 100vh;                    
	}
</style>

<Layout title="Deprogramming the mind">
	<main class="p-10">

	</main>
</Layout>

