---

---

<header>
    <div class="flex items-center">
        <img src="/sample.png" alt="logo" style="width: 10%">
        <h1 class="text-3xl">deprogramming</h1>
    </div>
    <nav>
        <div class="navbar bg-base-100 prose">
            <div class="flex">
                <!-- TODO: show active style for current link -->
              <ul class="menu menu-horizontal my-0">
                <li><a>Home</a></li>
                <li><a>Blogs</a></li>
                <li><a>About</a></li>
                <li><a>Tags</a></li>
              </ul>
            </div>
          </div>
    </nav>
</header>