---

---

<header>
    <div class="flex items-center">
        <img src="/sample.png" alt="logo" style="width: 10%">
        <h1 class="text-3xl">deprogramming</h1>
    </div>
    <nav>
        <div role="tablist" class="tabs tabs-bordered">
            <a role="tab" class="tab">Home</a>
            <a role="tab" class="tab tab-active">Blogs</a>
            <a role="tab" class="tab">About</a>
            <a role="tab" class="tab">Tags</a>
        </div>
    </nav>
</header>