---
const [_, routeFromUrl] = Astro.url.pathname.split('/'); 

---

<script define:vars={{routeFromUrl}}>

    let entityIdx = 0;

    const entities = [
        'about',
        'matter',
        'animal',
        'human',
        'bengali american',
        'programmer',
        'writer',
        'son',
        'husband',
        'dad',
        'universe',
        'god',
        'brahman',
        'anatta',
        'neither thing nor nothing'
    ];

    let intervalId;

    function styleAbout() {
        const svgNode = document.querySelector('#about-svg');
        svgNode?.classList.add('nondual-svg-effect');
        const textNode = document.querySelector('#about-text');
        textNode?.classList.add('nondual-text-effect');
    }

    document.addEventListener('astro:page-load', () => {
        if (routeFromUrl === 'about' && !intervalId) {
            styleAbout();
            intervalId = setInterval(() => {
                if (entityIdx < entities.length) {
                    const aboutTextNode = document.querySelector('li > a > span');
                    aboutTextNode.textContent = entities[entityIdx];
                    entityIdx++;
                } else {
                    clearInterval(intervalId);
                }
            }, 1153);
        } else {
            clearInterval(intervalId);
        }
    });

</script>


<style>
    :root {
        --about-color: hsl(30, 100%, 60%);  /* Vibrant orange for concepts, information */
        --matter-color: hsl(0, 0%, 40%);     /* Neutral gray representing physicality */
        --animal-color: hsl(340, 100%, 60%); /* Vivid red for life, instinct */
        --human-color: hsl(35, 80%, 60%);   /* Warm, slightly muted orange - adaptable, social */
        --bengali-american-color: hsl(15, 90%, 50%); /* Intense red-orange - heritage, vibrancy */
        --programmer-color: hsl(190, 70%, 50%); /* Vivid cyan - logic, precision */
        --writer-color: hsl(50, 90%, 60%);   /* Bright yellow - expression, creativity */
        --son-color: hsl(225, 60%, 60%);     /* A slightly cooler blue - youth, dependability */ 
        --husband-color: hsl(280, 40%, 70%); /* Soft purple - affection, care */
        --dad-color: hsl(210, 50%, 55%);    /* Reliable blue - protection, strength */
        --universe-color: hsl(270, 60%, 30%);/* Rich purple - mystery, vastness */
        --god-color: hsl(50, 80%, 75%);      /* Light yellow - illumination, higher order  */
        --brahman-color: hsl(0, 0%, 95%);    /* Near-white - purity, neutrality */
        --anatta-color:  hsl(0, 0%, 90%);    /* Light gray - detachment from form */  
        --neither-thing-nor-nothing-color: hsl(0, 0%, 50%); /* Mid-level gray */
    }

    .nondual-text-effect {
        animation: color-shift 15s ease-out forwards 1s, 
                fadeOut 15s ease-out forwards 11.5s  
    }

    .nondual-svg-effect {
        animation: color-shift 15s ease-out forwards 1s,
                fadeOut 15s ease-out forwards 11.5s  
    }

    @keyframes fadeOut {
        0% { 
            opacity: 1;
        }
        100% {
            opacity: 0; 
            background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
        }
    }

    @keyframes color-shift {
        0%      { color: var(--about-color); stroke: var(--about-color); }  
        6.66%   { color: var(--matter-color); stroke: var(--matter-color); } 
        13.33%  { color: var(--animal-color); stroke: var(--animal-color); }
        20%     { color: var(--human-color); stroke: var(--human-color); } 
        26.66%  { color: var(--bengali-american-color); stroke: var(--bengali-american-color); } 
        33.33%  { color: var(--programmer-color); stroke: var(--programmer-color); } 
        40%     { color: var(--writer-color); stroke: var(--writer-color); }
        46.66%  { color: var(--son-color); stroke: var(--son-color); }
        53.33%  { color: var(--husband-color); stroke: var(--husband-color); } 
        60%     { color: var(--dad-color); stroke: var(--dad-color); }
        66.66%  { color: var(--universe-color); stroke: var(--universe-color); }
        73.33%  { color: var(--god-color); stroke: var(--god-color); }
        80%     { color: var(--brahman-color); stroke: var(--brahman-color); }
        86.66%  { color: var(--anatta-color); stroke: var(--anatta-color); }
        93.33%  { color: var(--neither-thing-nor-nothing-color); stroke: var(--neither-thing-nor-nothing-color); } 
        100%    { color: var(--neither-thing-nor-nothing-color); stroke: var(--neither-thing-nor-nothing-color); } 
    }
</style>

<header class="relative">
    <nav class="fixed flex justify-between w-full p-4 bg-black">

        <ul class="flex flex-row gap-4 font-mono items-center">
            <li><a class="link link-hover flex gap-1" href="/">
                    <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="blue"><path d="M10 18V15C10 13.8954 10.8954 13 12 13V13C13.1046 13 14 13.8954 14 15V18" stroke="blue" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M2 8L11.7317 3.13416C11.9006 3.04971 12.0994 3.0497 12.2683 3.13416L22 8" stroke="blue" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M20 11V19C20 20.1046 19.1046 21 18 21H6C4.89543 21 4 20.1046 4 19V11" stroke="blue" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                    home
            </a></li>
            <li><a class="link link-hover flex gap-1" href="/meditations">
                <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M21 2L20 3" stroke="yellow" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 2L4 3" stroke="yellow" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M21 16L20 15" stroke="yellow" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 16L4 15" stroke="yellow" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M9 18H15" stroke="yellow" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M10 21H14" stroke="yellow" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M11.9998 3C7.9997 3 5.95186 4.95029 5.99985 8C6.02324 9.48689 6.4997 10.5 7.49985 11.5C8.5 12.5 9 13 8.99985 15H14.9998C15 13.0001 15.5 12.5 16.4997 11.5001L16.4998 11.5C17.4997 10.5 17.9765 9.48689 17.9998 8C18.0478 4.95029 16 3 11.9998 3Z" stroke="yellow" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                meditations
            </a></li>
            <li id="about-link"><a class="link link-hover flex gap-1" href="/about">
                <?xml version="1.0" encoding="UTF-8"?><svg id="about-svg" stroke="green" width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M5 20V19C5 15.134 8.13401 12 12 12V12C15.866 12 19 15.134 19 19V20" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 12C14.2091 12 16 10.2091 16 8C16 5.79086 14.2091 4 12 4C9.79086 4 8 5.79086 8 8C8 10.2091 9.79086 12 12 12Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                <span id="about-text">about</span>
            </a></li>
        </ul>

        <label class="swap swap-rotate">
            <!-- this hidden checkbox controls the state -->
            <input type="checkbox" class="theme-controller" value="synthwave" />            
            <!-- sun icon -->
            <svg class="swap-on fill-current w-7 h-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z"/></svg>
            <!-- moon icon -->
            <svg class="swap-off fill-current w-7 h-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z"/></svg>

          </label>

    </nav>
        
</header>