---
import SpeedInsights from '@vercel/speed-insights/astro';
import { ViewTransitions } from 'astro:transitions';
import Header from "../components/Header.astro";

interface Props {
	description?: string;
	title: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-white">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<script>
		document.querySelector('.hamburger')?.addEventListener('click', () => {
			console.log('clicked');
			// document.querySelector('.nav-links')?.classList.toggle('expanded');
		});
	</script>
	<body class="mx-auto" >
		<Header />
		<slot />
		<SpeedInsights />
	</body>
</html>
